.grid {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.left-panel {
}

.right-panel {
  padding: 1em;
  background: var(--color-white);
  color: var(--color-ember);
  /*height: 100vh;*/
}

.right-panel a {
  color: var(--color-ember);
}

table td {
  padding: .5em;
}

table tr td:nth-child(1) {
  font-weight: bold;
  color: var(--color-burnt-ember);
}

table tr::odd {
  background: var(--color-burnt-ember);
}

table tr:even {
  background: var(--color-ember);
}

table a {
  text-decoration: underline;
  cursor: pointer;
  padding:.25em;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100%;
}

